body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #123456;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.patch-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.patch {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    border-radius: 8px;
}

.patch h2 {
    margin-top: 0;
}

.patch a:hover {
    background-color: #aab9d3;
}

#searchBar {
    margin-top: 20px;
    padding: 10px;
    width: 90%; 
    max-width: 400px; 
    border: 2px solid #333; 
    border-radius: 5px; 
  }