body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 20px;
}


.title {
    margin-top: 10px;
    color: var(--strong-orange);
    padding: 20px 0;
    text-align: center;
}

#searchBar {
    margin-top: 20px;
    padding: 10px;
    width: 90%; 
    max-width: 400px; 
    border: 2px solid #333; 
    border-radius: 5px; 
}


.champions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-items: center;
    row-gap: 40px;

}

.champion-card {
   
    padding: 10px;
    
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--coolG);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: var(--burntY);
    
    background-repeat: no-repeat;
    background-position: -150px -150px, 0 0;
    
    background-image: -webkit-linear-gradient(
      top left,
      
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    background-image: -moz-linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );    
    background-image: -o-linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    background-image: linear-gradient(
      0 0,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    
    -moz-background-size: 250% 250%, 100% 100%;
         background-size: 250% 250%, 100% 100%;
    
    -webkit-transition: background-position 0s ease;
       -moz-transition: background-position 0s ease;       
         -o-transition: background-position 0s ease;
            transition: all 0s ease;
    
            
}



.champion-card:hover{
    width:210px;
    padding: 10px 10px 10px 20px;
    background-color: #edbf48;
    
    background-position: -100px -100px, 0 0;
  
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
    
}





.champion-card img {
    width: 100%;
    height: auto;
}

.champion-card h2, .champion-card p {
    margin: 5px;
}
.champion-card h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}
.champion-card p{
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup Content Box */
.popup-content {
    background-color: var(--coolG);
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: auto;
    max-height: 90vh;
    overflow-y: auto; /* Allows scrolling if the content is too tall */
    
}

.popup-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.champion-image img {
    max-width: 100%; /* Ensures the image is fully visible within its container */
    height: auto;
}

.champion-details {
    padding-left: 20px; /* Adds some space between the image and the text */
    color: var(--burntY);
}

.ability img {
    width: 50px; /* Adjust as needed */
    height: auto;
    vertical-align: middle; /* Aligns image with text */
}

.abilities-icons {
    display: flex;
    justify-content: start; /* Align skill icons at the start */
    flex-wrap: wrap; /* Allows icons to wrap to the next line if there's not enough space */
    gap: 10px; /* Adds some space between icons */
}

.skill-icon {
    cursor: pointer; 
    transition: transform 0.2s; 
}

.skill-description {
    margin-top: 20px; 
}

.skill-icon:hover {
    transform: scale(1.1); 
}

.skill-icon-selected {
    border: 3px solid darkgreen; 
    border-radius: 4px; 
}

.popup-inner {
    display: flex;
    flex-direction: row;
    align-items: start; /* Align items at the start of the container */
    max-width: 100%;
}

.champion-image, .champion-details {
    flex: 1; /* Allows both the image and details to take up equal space */
    padding: 10px;
    text-align: justify;
}
.champion-details{
    padding: 20px;
}

.champion-details p {
    text-indent: 10px;

    font-size: 1.2rem;
}
.champion-details p::first-letter {
    font-size: 200%;
    
}

.champion-image  img{
    border: 4px solid transparent;
    

    border-image: linear-gradient(to right, var(--burntY), var(--burtnG));
    border-image-slice: 1;
}


.close-btn {
    /* Existing styles */
    cursor: pointer;
    font-size: 2rem;
    color: var(--strong-orange);
    padding-left: 20px;
}