
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: var(--strong-orange);
}

.banner {
    position: relative;
    overflow: hidden;
    height: 400px;
}
  
#bannerVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Maintain aspect ratio and cover container */
    z-index: -1; /* Ensures the video stays in the background */
}
  
.banner-content {
    position: relative;
    z-index: 1; /* Ensures text appears above the video */
    color: #ffffff; /* Ensures text is readable over the video */
    text-align: center; /* Centers the text */
    padding: 50px 20px; /* Adds padding around the text */
}
  


.latest-news, .intro-lol, .featured-guides, .community-spotlight {
    padding: 20px;
    text-align: center;
}

.latest-news {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.patches-container {
    display: flex;
    justify-content: space-evenly; /* Adjust based on your layout preference */
    flex-wrap: wrap; /* Allows items to wrap as needed */
}

.patch-note-card {
    flex: 1 1 45%; /* Adjust the flex-basis to control the card size */
    max-width: 45%; /* Prevents the card from growing too large */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds shadow for depth */
    margin: 10px; /* Spacing between cards */
    display: flex; /* Makes the image and info side by side */
    align-items: center; /* Aligns items vertically */
}

.patch-note-info {
    padding: 20px;
}

.patch-note-info a{
    position: top;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



/*Udemy Day 20 Button Ripple affect*/
button{
    background-color:#606c38;
    color: white;
    border: 1px #283618;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;

}

button:focus{
    outline: none;
}

button .circle{
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale{
    to{
        transform: translate(-50%,-50%) scale(3);
        opacity: 0;
    }
}

