@import url(theme/theme.css);
@import url(theme/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
body {
    font-family:  "Cormorant", serif;
    margin: 0;
    padding: 0;
    background : linear-gradient( var(--coolG) 70%, var(--grey)20%,#010A13);
}

h1{
    text-align: center;
    margin-top: 20px;
    color: var(--strong-orange);
    font-size: 2.3rem;
}

h2{
    text-align: center;
    font-size: 2rem;
    color: var(--burntY);
    padding: 5px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right,  var(--coolG), var(--cream), var(--coolG));
    border-image-slice: 1;
}

.banner {
    display: flex;
    
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 80vh;
}
  
#bannerVideo {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    
    transform: translate(-50%, -50%);
    object-fit: cover; 
    z-index: -1; 
}
  
.banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #ffffff; 
    text-align: center; 
    padding: 50px 20px; 
}

.banner-content > p{
    font-size: 2rem;

}
.banner-content > h1{
    background: linear-gradient( var(--coolG), var(--burntY),var(--cream), var(--burntY),var(--coolG));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}

/*
    IMAGE CAROUSEL used udemy day 35 
*/

.latest-champ-carousel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-size: cover;
    background-image: linear-gradient( rgba(15, 15, 15, 0.747), rgba(115, 115, 115, 0.49)), url(../imgs_vids/latest_champs/nafiri-splash.jpg);
    fill-opacity: 50%;
   
    height: 95vh;
    margin:0;
    color: var(--burntY);
}
.champ-profile{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 80vh;
    width:60vw;
    object-fit: cover;
}
.divimg{
    display: flex;
    height: 70vh;
    width: 60vw;
}

.champ-info{
    position: relative;
    text-align: center;
    justify-content: center;
    align-self:center;
    height: 6vh;
    padding: 2vh;
    width: 60vw;
    background-color: var(--coolG);
    color: var(--burntY);
}
.champ-info p, .champ-info h2 {
    position: relative;
    padding: 0;
    margin: 0;
    width : 60vw;
    
    border: none;
    justify-content: center;
}

.champ-info p{
    
    font-size: 1.2rem;
    font-weight: bold;
}

.champ-info h2{
    background: linear-gradient( var(--coolG), var(--burntY),var(--cream), var(--cream),var(--cream),var(--burntY),var(--coolG));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  
}

div  .champ-img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.img-carousel{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    height: 80vh;
    width: 60vw;
    overflow: hidden;
}
.image-container{
    display: flex;
    height: inherit;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
.buttons-container{
    display: flex;
    width: 40vh;
    justify-content: space-between; 
    
}
.carousel-button{
    background-color: var(--coolG);
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 33%;

    border: 1px solid transparent; /* Top border */
    
    border-image: linear-gradient(to right, var(--burntY), var(--burtnG));
    border-image-slice: 1; 
    
}
.carousel-button:hover{
    opacity: 0.8;
}
.carousel-button:focus{
    outline:none;
}
/*  
    ^^^^^^^^^^^^^^^^^^^
    IMAGE CAROUSEL css ABOVE 
*/

.intro-lol{
    padding: 5vw 10vw;
}
.intro-lol > p {
    font-size: 1.2rem;
    color: var(--cream);
}


.latest-news, .featured-guides, .community-spotlight {
    padding: 20px;
    text-align: center;
}

.latest-news {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.patches-container {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap; 
}

.patch-note-card {
    flex: 1 1 45%; 
    max-width: 45%; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    margin: 10px; 
    display: flex; 
    align-items: center; 
    color: var(--cream);
}

.patch-note-info {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: normal;

}

.patch-note-info a{
    position: top;
    color: var(--burntY);
    transition: opacity .3s ease-in-out;

}
.patch-note-info a:visited{
    color: var(--burntY);
    
}
.patch-note-info a:hover{
    opacity: 50%;
}

footer {
    background-color: linear-gradient(black,var(--coolG));
    color: #fff;
    text-align: center;
    padding: 12px;

    font-size: 1.2rem;
}


/*Udemy Day 20 Button Ripple affect*/
.quiz-section > div{
    width: 100vw;
}

.ripple{
    background-color:#606c38;
    color: white;
    border: 1px #283618;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 30px;
    overflow: hidden;
    margin: 10px auto;
    display: block;
    position: relative;
}

.ripple:focus{
    outline: none;
}

.circle{
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    animation: scale 0.5s ease-out;
}


@keyframes scale{
    to{
        transform: translate(-50%,-50%) scale(3);
        opacity: 0;
    }
}

/*CHATBOT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.chatbot-section{
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #724ae8;
    transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}
.chatbot-toggler span {
    color: #fff;
    position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}
.chatbot {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
    z-index: 10;
}
body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: #724ae8;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}
header h2 {
    font-size: 1.8rem;
    color: white;
    border:none;
}
.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}
.chatbox .chat {
    display: flex;
    list-style: none;
}
.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}
.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #724ae8;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}
.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: #724ae8;
}
.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}
.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
}
.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}
.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}
.chat-input span {
    align-self: flex-end;
    color: #724ae8;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
    visibility: visible;
}
@media (max-width: 490px) {
    .chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }
    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }
    .chatbot .chatbox {
        height: 90%;
        padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
        padding: 5px 15px;
    }
    .chatbot header span {
        display: block;
    }
}