@import url(theme/theme.css);

header {
    background-color: var(--coolG);
    color: #f8e5e5;
    padding: 20px;
    text-align: center;

    border-bottom: 1 solid transparent;
}

body {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: var(--coolG);
}


header .logo {
    font-size: 2rem;
    color: transparent;
    background: linear-gradient(var(--coolG), var(--burntY),var(--cream), var(--burntY),var(--coolG));
    -webkit-background-clip: text;
    background-clip: text;
    padding: 10px;

}

footer {
    background-color: var(--dark);
}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    font-size: 1.5rem;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;

    color: var(--burntY);

    border-image: linear-gradient(to right, var(--burntY), var(--burtnG));
    border-image-slice: 1;

    transition: all .5s ease;
    
    
}
nav ul li a:hover {
    
    color: transparent;
    background: linear-gradient(var(--coolG), var(--burntY),var(--cream), var(--burntY),var(--coolG));
    -webkit-background-clip: text;
    background-clip: text;

    
    border-image: linear-gradient(180deg, var(--burtnG),var(--burntY) );
    border-image-slice: 1;

}