:root{
    /* CSS HEX */
    --mod-dark:#606c38;
    --dark: #283618;
    --cream: #fefae0;
    --soft-orange: #dda15e;
    --strong-orange: #bc6c25;

    --burntY:#C89B3C;
    --burtnG: #785A28;

    --grey:#1E2328;
    --coolG: #1E282D;
}
