
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: var(--strong-orange);
}


.title {
    margin-top: 10px;
    color: var(--strong-orange);
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.patch-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}


.patch h2 {
    margin-top: 0;
    font-size: 2rem;
}

.patch p {
    font-size: 1.3rem;
    
}

.patch a {
    color: var(--strong-orange);
    font-size: 1.2rem;
}

.patch a:hover {
    opacity: 50%;
}

#searchBar {
    margin-top: 20px;
    padding: 10px;
    width: 90%; 
    max-width: 400px; 
    border: 2px solid #333; 
    border-radius: 5px; 
}

.patch {
    background-color: #eed9c4;
    border: 1px solid #dddddd;
    padding: 25px;
    border-radius: 8px;
}